.joinSec {
	min-height: 100vh;
	padding: 50px;
	background: linear-gradient(180deg, #d72229 30%, rgba(215, 34, 41, 0) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* direction: rtl; */
}

.title {
	width: 709;
	height: 115;
	font-family: Cairo;
	font-weight: 700;
	font-size: 65px;
	line-height: 45px;
	/* text-align: right; */
	margin: 0 160px;
}
.text-join {
	font-family: Cairo;
	font-weight: 600;
	font-size: 24px;
	line-height: 130%;
	/* text-align: right; */
	color: #000000;
	padding: 40px 170px;
	margin-bottom: 30px;
}
/* Boxes Section */
.boxes-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 50px;
}

.box {
	width: 331px;
	height: 200px;
	border-radius: 22px;
	background: #ffffffe5;
	/* backdrop-filter: blur(15px); */
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	flex-direction: column;
	backdrop-filter: blur(15px);
}

.box .card {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	/* text-align: right; */
	padding: 0 15px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.card h3 {
	margin: 10px 0 5px;
}

.card p {
	font-size: 14px;
	color: #333;
}
.card .icon-box {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Responsive */
@media screen and (max-width: 991px) {
	.joinSec {
		padding: 40px 30px;
	}

	.title {
		font-size: 50px;
		line-height: 1.2;
	}
	.text-join {
		font-size: 20px;
		padding: 30px 60px;
	}

	.boxes-section {
		gap: 25px;
	}

	.box {
		width: 280px;
		min-height: 180px;
	}
	.card .icon-box {
		width: 55px;
		height: 55px;
	}

	.card h3 {
		font-size: 16px;
	}

	.card p {
		font-size: 13px;
	}
}
@media screen and (max-width: 767px) {
	.joinSec {
		padding: 30px 20px;
	}

	.title {
		font-size: 38px;
		margin: 20px auto 10px;
	}

	.text-join {
		font-size: 18px;
		padding: 25px 30px;
		/* margin-bottom: 20px; */
	}

	.boxes-section {
		gap: 20px;
	}
	.box {
		width: calc(33.333% - 8px);
		min-width: 300px;
		min-height: 170px;
		padding: 15px;
	}

	.card .icon-box {
		width: 50px;
		height: 50px;
	}

	.card h3 {
		font-size: 15px;
	}
	.boxes-section.ltr .box-title {
		font-size: 10px;
	}
	.card p {
		font-size: 12px;
	}
}
