.joinSec {
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(180deg, #D72229 30%, rgba(215, 34, 41, 0) 100%);

}
.title {
    width: 709;
    height: 115;
    font-family: Cairo;
    font-weight: 700;
    font-size: 65px;
    line-height: 45px;
    text-align: right;
    margin: 0 160px;
}
.text-join {
font-family: Cairo;
font-weight: 600;
font-size: 24px;
line-height: 130%;
text-align: right;
color: #000000;
padding: 40px 170px;
margin-bottom: 30px;
}
/* Boxes Section */
.boxes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.box {
  width: 331px;
  height: 200px;
  border-radius: 22px;
  background: #FFFFFFE5;
  /* backdrop-filter: blur(15px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  backdrop-filter: blur(15px)
}

.box .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: right;      
  padding: 0 15px; 
   background: transparent;
    border: none;              /* ✅ يشيل البوردر لو موجود */
  box-shadow: none;  
 }

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #333;
}
.card .icon-box {
    width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;             /* ✅ اجعل العنصر flex */
  justify-content: center;   /* ✅ أفقياً في الوسط */
  align-items: center; 
}