.questions-section {
	width: 80%;
	margin: 0 auto;
}
.question {
	display: flex;
	align-items: center;
	gap: 10px;
	min-height: 40px;
}

.question p {
	flex: 1;
	margin: 0 8px;
	text-align: right;
}

.question-item {
	text-align: right;
	gap: 20px;
	padding: 10px 20px;
	background-color: #ededed;
	border-radius: 28px;
	overflow: hidden;
	transition: 0.3s;
	cursor: pointer;
	margin-bottom: 10px;
}

.question img {
	width: 20px;
	transition: 0.3s;
}

.answer {
	max-height: 0;
	overflow: hidden;
	padding: 0 20px;
	transition:
		max-height 0.4s ease,
		padding 0.3s ease;
}

.answer p {
	color: #8d8d8d;
}

.question-item.active .answer {
	max-height: 500px;
	padding: 0 20px 20px 20px;
}
